siQuestService/siQuestSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://webservice.siquest.villanova.edu/siQuestSOAP/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="siQuestSOAP" targetNamespace="http://webservice.siquest.villanova.edu/siQuestSOAP/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://webservice.siquest.villanova.edu/siQuestSOAP/">
			<xsd:element name="checkStatus">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="token" type="xsd:string" />
						<xsd:element name="uploadDir" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="checkStatusResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="status" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getQuery">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="filename" type="xsd:string"
							maxOccurs="unbounded" minOccurs="1"></xsd:element>
						<xsd:element name="analyzer" type="xsd:string"></xsd:element>
						<xsd:element name="searchService" type="xsd:string"
							maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getQueryResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="status" type="xsd:string"></xsd:element>
						<xsd:element name="term" type="tns:termType"
							maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>


			<xsd:complexType name="termType">
				<xsd:sequence>
					<xsd:element name="word" type="xsd:string"></xsd:element>
					<xsd:element name="weight" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getResults">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="filename" type="xsd:string"
							maxOccurs="unbounded" minOccurs="1"></xsd:element>
						<xsd:element name="analyzer" type="xsd:string"></xsd:element>
						<xsd:element name="searchService" type="xsd:string"
							maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getResultsResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="status" type="xsd:string"></xsd:element>
						<xsd:element name="query" type="tns:queryType"></xsd:element>
						<xsd:element name="result" type="tns:resultType"
							maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="queryType">
				<xsd:sequence>
					<xsd:element name="term" type="tns:termType" maxOccurs="unbounded"
						minOccurs="0">
					</xsd:element>
					<xsd:element name="searchService" type="xsd:string"
						maxOccurs="unbounded" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="resultType">
				<xsd:sequence>
					<xsd:element name="title" type="xsd:string"></xsd:element>
					<xsd:element name="url" type="xsd:string"></xsd:element>
					<xsd:element name="click_url" type="xsd:string"></xsd:element>
					<xsd:element name="searchService" type="xsd:string"
						maxOccurs="unbounded" minOccurs="0">
					</xsd:element>
					<xsd:element name="rank" type="xsd:string"></xsd:element>
					<xsd:element name="summary" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>


		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="checkStatusRequest">
		<wsdl:part element="tns:checkStatus" name="parameters" />
	</wsdl:message>
	<wsdl:message name="checkStatusResponse">
		<wsdl:part element="tns:checkStatusResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getQueryRequest">
		<wsdl:part name="parameters" element="tns:getQuery"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getQueryResponse">
		<wsdl:part name="parameters" element="tns:getQueryResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getResultsRequest">
		<wsdl:part name="parameters" element="tns:getResults"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getResultsResponse">
		<wsdl:part name="parameters" element="tns:getResultsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="siQuestSOAP">
		<wsdl:operation name="checkStatus">
			<wsdl:input message="tns:checkStatusRequest" />
			<wsdl:output message="tns:checkStatusResponse" />
		</wsdl:operation>
		<wsdl:operation name="getQuery">
			<wsdl:input message="tns:getQueryRequest"></wsdl:input>
			<wsdl:output message="tns:getQueryResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getResults">
			<wsdl:input message="tns:getResultsRequest"></wsdl:input>
			<wsdl:output message="tns:getResultsResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="siQuestSOAPSOAP" type="tns:siQuestSOAP">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="checkStatus">
			<soap:operation
				soapAction="http://webservice.siquest.villanova.edu/siQuestSOAP/checkStatus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="getQuery">
			<soap:operation
				soapAction="http://webservice.siquest.villanova.edu/siQuestSOAP/getQuery" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="getResults">
			<soap:operation
				soapAction="http://webservice.siquest.villanova.edu/siQuestSOAP/getResults" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="siQuestSOAP">
		<wsdl:port binding="tns:siQuestSOAPSOAP" name="siQuestSOAPSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
